---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Pagination from "../../components/Pagination.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import VisitSite from "../../assets/icons/misc/CarbonArrowUpRight.svg";
import ContactSection from "../../components/page/ContactSection.astro";
import PageBanner from "../../components/page/PageBanner.astro";

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection("projects");
  return paginate(projects, { pageSize: 6 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"projects">>;
}

const { page } = Astro.props;
---

<DefaultLayout>
  <PageBanner
    title="Portafolio de Proyectos"
    description="Todos los proyectos que salen aquí son desarrollados por mí, desde el diseño hasta la implementación. Si quieres que tu proyecto sea desarrollado con la misma calidad y atención al detalle, no dudes en contactarme."
    background="linear-gradient(90deg, #7debf2, #60a4ff)"
  />
  <section class="projects-section">
    <div class="container">
      <!-- <p>
        <em
          >Project {page.start + 1} through {page.end + 1} of {page.total} total projects</em
        >
      </p> -->
      <ul class="grid">
        {
          page.data.map((project) => (
            <li class="mb-4">
              <article class="card | flow">
                {project.data.image && (
                  <img
                    src={`/projects/${project.data.image}`}
                    alt={`${project.data.title} screenshot`}
                  />
                )}
                <h2>{project.data.title}</h2>
                <ul class="features-list | flow">
                  {project.data.features.map((feature) => (
                    <li>{feature}</li>
                  ))}
                </ul>
                <a class="button" href={project.data.link} target="_blank">
                  Visitar sitio Web <VisitSite />
                </a>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <div id="pagination" class="pagination">
    <div class="container flex">
      <Pagination
        basePath="/portafolio"
        previousPage={page.url.prev ? page.url.prev : null}
        nextPage={page.url.next ? page.url.next : null}
        currentPage={page.currentPage}
        totalPages={Math.ceil(page.total / page.size)}
      />
    </div>
  </div>

  <ContactSection />
</DefaultLayout>

<style lang="scss">
  .projects-section {
    margin-block-end: 2rem;
    .grid {
      --minimun: 30ch;
    }

    .pagination {
      margin-block-end: 2rem;
    }

    .features-list {
      list-style-type: disc;
      padding-left: 1em;
    }
  }
</style>
