---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Pagination from "../../components/Pagination.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import VisitSite from "../../assets/icons/misc/CarbonArrowUpRight.svg";

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection("projects");
  return paginate(projects, { pageSize: 6 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"projects">>;
}

const { page } = Astro.props;
---

<DefaultLayout
  title="Portfolio"
  description="An example of a portfolio using the Astro Content Collections."
>
  <section class="portfolio-header">
    <div class="container | flow">
      <h1>Portfolio</h1>
      <p>
        An example of a portfolio built using Astro Content Collections,
        showcasing how to organize and display projects dynamically. Check out <a
          href="https://docs.astro.build/en/guides/content-collections/"
          >Astro Content Collections</a
        > in the Astro Docs to learn more.
      </p>
    </div>
  </section>
  <section class="projects-section">
    <div class="container">
      <!-- <p>
        <em
          >Project {page.start + 1} through {page.end + 1} of {page.total} total projects</em
        >
      </p> -->
      <ul class="grid">
        {
          page.data.map((project) => (
            <li class="mb-4">
              <article class="card | flow">
                {project.data.image && (
                  <img
                    src={`/projects/${project.data.image}`}
                    alt={`${project.data.title} screenshot`}
                  />
                )}
                <h3>{project.data.title}</h3>
                <ul class="features-list | flow">
                  {project.data.features.map((feature) => (
                    <li>{feature}</li>
                  ))}
                </ul>
                <a class="button" href={project.data.link} target="_blank">
                  Visitar sitio Web <VisitSite />
                </a>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <div id="pagination" class="pagination">
    <div class="container flex">
      <Pagination
        basePath="/portafolio"
        previousPage={page.url.prev ? page.url.prev : null}
        nextPage={page.url.next ? page.url.next : null}
        currentPage={page.currentPage}
        totalPages={Math.ceil(page.total / page.size)}
      />
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .projects-section {
    margin-block-end: 2rem;
    .grid {
      --minimun: 30ch;
    }

    .pagination {
      margin-block-end: 2rem;
    }

    .features-list {
      list-style-type: disc;
      padding-left: 1em;
    }
  }
</style>
