---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<DefaultLayout
  title="Blog"
  description="Read my latest thoughts on web development and design."
>
  <main class="section">
    <div class="container flow">
      <h1>Blog</h1>
      <p>Read my latest thoughts on web development and design.</p>

      <div class="grid">
        {
          sortedPosts.map((post) => (
            <article class="flow | blog-card">
              {post.data.featuredImage && (
                <img
                  src={post.data.featuredImage}
                  alt={post.data.title}
                  class="blog-card__image"
                  loading="lazy"
                />
              )}
              <div class="blog-card__content flex">
                <div class="blog-card__tags">
                  {post.data.tags.map((tag) => (
                    <span class="tag">{tag}</span>
                  ))}
                </div>
                <h2 class="blog-card__title">
                  <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </h2>
                <p class="blog-card__description">
                  {post.data.cardDescription ?? post.data.description}
                </p>
                <div class="blog-card__meta">
                  <time datetime={post.data.date.toISOString()}>
                    {post.data.date.toLocaleDateString()}
                  </time>
                  <span> • {post.data.readingTime} min read</span>
                </div>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </main>
</DefaultLayout>

<style lang="scss">
  @use "../assets/scss/abstracts/colors.scss" as *;

  .grid {
    --minimun: 24ch;
  }

  .flex {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-card {
    border: 1px solid light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.3s ease;

    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &__title a {
      color: inherit;
      text-decoration: none;
    }

    &__title a:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-thickness: 1px;
    }

    &__description {
      color: var(--text-color-secondary);
      margin: 0.5rem 0;
    }

    &__description {
      color: var(--text-color-secondary);
      margin: 0.5rem 0;
    }

    &__meta {
      font-size: var(--step--1);
      color: var(--text-color-secondary);
      margin-top: auto;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px
      light-dark(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 100%, 0.2));
  }

  .tag {
    background: var(--alert-100);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: var(--step--2);
    color: black;
  }
</style>
